In [62]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [ ]:
url = "https://news.squeezereport.com/category/short-squeeze/"
r = requests.get(url)

In [63]:

soup = BeautifulSoup(r.text, "html.parser")
soup.find_all('a', href=True)
links = [a for a in soup.find_all("a", href=True) if "/short-squeeze/" in a["href"] and "2" in a["href"] and not "#respond" in a["href"] ]

In [66]:
data = []
for link in links:
    if link.has_attr("class"):
        title = link.get("title")
        try:
            ticker = title.split(":")[1].split(")")[0]
            date = title.split( " " )[-1]
            data.append({"date":date, "ticker":ticker})
        except:
            pass

In [67]:
df = pd.DataFrame( data )

In [71]:
df

           date ticker
0    2024-06-14   LRCX
1    2024-06-07   KOSS
2    2024-06-07    AMC
3    2024-05-31   DELL
4    2024-05-31     ZS
..          ...    ...
99   2022-03-23   TCBP
100  2023-03-29   VORB
101  2023-10-24   MEDP
102  2023-10-04   OKYO
103  2023-10-16   MGUY

[104 rows x 2 columns]

In [74]:
df = df.sort_values(["ticker", "date"])

In [ ]:
df.to_csv( "" )

NameError: name 'index' is not defined