In [ ]:
import pandas as pd

In [6]:
data = pd.read_csv( "./data/R2000_2025_short_interest.csv" )

In [ ]:
df = data[["symbolCode", "month", "currentShortPositionQuantity", "changePercent", "daysToCoverQuantity"]]

In [13]:
df.columns = ["Ticker", "Month", "ShortPositions", "Change%", "DaysToCover"]

In [14]:
df

      Ticker       Month  ShortPositions  Change%  DaysToCover
0       AAMI  2025-01-01         1777502     7.42        14.12
1       AAMI  2025-02-01          436195   -75.49         2.88
2       AAMI  2025-03-01          501824    49.61         1.84
3       AAMI  2025-04-01          841145    36.40         3.49
4       AAMI  2025-05-01          488260   -31.75         1.83
...      ...         ...             ...      ...          ...
23071   ZYXI  2025-01-01         4538628    -0.38        81.40
23072   ZYXI  2025-02-01         4414453    -1.57        53.08
23073   ZYXI  2025-03-01         3780654    -1.27        10.73
23074   ZYXI  2025-04-01         3779936    -1.14        15.58
23075   ZYXI  2025-05-01         3982470     2.12        22.27

[23076 rows x 5 columns]